{% extends "base.html" %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles_class_ingred.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <script>
    window.classIngredData = {
      recipes: {{ recipes|tojson | safe }},
      preRecipeId: {{ pre_recipe_id or 'null' }},
      preServings: {{ pre_servings or 'null' }}
    };
    </script>
    <script src="{{ url_for('static', filename='class_ingred.js') }}"></script>
  </div>
{% endblock %}
